.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.center
{
    text-align: center;
}

.ft12
{
    font-size: 12px;
}

.ft14
{
    font-size: 14px;
}

.ft16
{
    font-size: 16px;
}

.ft18
{
    font-size: 18px;
}

.ft24
{
    font-size: 24px;
}

.ftw
{
    font-weight: bold;
}

.overflow
{
    overflow: hidden;
}

.dinline
{
    display: inline-block;
}

.dblock
{
    display: block;
}

.ml35
{
    margin-left: 35px;
}

.mt10
{
    margin-top: 10px;
}

.ml10
{
    margin-left: 10px;
}

.ml20
{
    margin-left: 20px;
}

.mt30
{
    margin-top: 30px;
}

.fn-left
{
    float: left;
}

.fn-right
{
    float: right;
}

.fn-hide
{
    display: none;
}


li
{
    list-style-type: none;
}



.clear
{
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}



.clear
{
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.clearfix:after, .clearfix:before
{
    content: "";
    display: table;
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}

html
{
    font: 10px/1 STHeiti,Arial;
    color: #68727e;
    background-color: #f3f3f3;
    word-wrap: break-word;
    word-break: break-all;
}

.logo-tip, .icon16, .icon10, .layer-close i, .focusimg-bt a, .icon-key, .icon48, .icon32, .focusimg-focus span a
{
    background: url(../images/icon-png24.png);
    _background: url(../images/icon-png8.png);
}

.icon16
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon48
{
    width: 48px;
    height: 48px;
    display: inline-block;
}

.icon32
{
    width: 32px;
    height: 32px;
    display: inline-block;
}

.btn
{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
}

.picker
{
    color: black;
}

.btn:link, .btn:visited
{
    color: #fff;
}

.btn-org
{
    background-color: #fe8f00;
    padding: 0 22px;
}

.btn-blue
{
    background-color: #3c5471;
    padding: 0 8px;
}

.btn-white
{
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

    .btn-white:link, .btn-white:visited
    {
        color: #fe8f00;
    }

.btn-gray, .btn-gray:link, .btn-gray:visited
{
    color: #3c5471;
    border: 1px solid #e3e3e3;
    background-color: #f3f3f3;
    display: inline-block;
}

.btn-red, .btn-red:link, .btn-red:visited
{
    color: #fff;
    background-color: #f84949;
}

.glass, .export
{
    background-position: -44px -20px;
    overflow: hidden;
    margin: 7px 10px 0 0;
    float: left;
}

.export
{
    background-position: -44px -100px;
}


.icon16-one
{
    background-position: 0 0;
}

.icon16-two
{
    background-position: 0 -19px;
}

.icon16-three
{
    background-position: 0 -40px;
}

.icon16-four
{
    background-position: 0 -59px;
}

.icon16-five
{
    background-position: 0 -80px;
}

.icon16-six
{
    height: 18px;
    background-position: 0 -100px;
}

.icon16-seven
{
    background-position: 0 -122px;
}



.right-cont
{
    background-color: #fcfcfc;
    margin-left: 239px;
    border-left: 1px solid #cad0d8;
    -moz-box-shadow: 2px 7px 10px #999;
    min-height: 990px;
    _height: 990px;
    -webkit-box-shadow: 2px 7px 10px #999;
    box-shadow: 2px 7px 10px #999;
}

    .right-cont .gril
    {
        padding: 15px 20px;
    }

.breadnav
{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #cad0d8;
    padding: 0 0 15px;
}

    .breadnav a:link, .breadnav a:visited
    {
        color: #68727e;
        text-decoration: none;
    }

    .breadnav a:hover
    {
        color: #fe8f00;
        text-decoration: underline;
    }

    .breadnav .icon16
    {
        float: left;
        width: 22px;
        margin: 5px 3px 0 0;
    }

    .breadnav .ft16
    {
        color: #68727e;
    }

.tab .tab-nav
{
    height: 38px;
    vertical-align: bottom;
    border: 1px solid #e3e3e3;
    background-color: #f3f3f3;
    -moz-box-shadow: 1px 2px 2px #eaeaea;
    -webkit-box-shadow: 1px 2px 2px #eaeaea;
    box-shadow: 1px 2px 2px #eaeaea;
}

    .tab .tab-nav ul
    {
        height: 39px;
        line-height: 38px;
        position: relative;
    }

        .tab .tab-nav ul li
        {
            float: left;
            height: 38px;
            text-align: center;
            position: relative;
        }

            .tab .tab-nav ul li a
            {
                text-align: center;
                font-size: 14px;
                display: inline-block;
                height: 38px;
                line-height: 38px;
                padding: 0 22px;
            }

                .tab .tab-nav ul li a:visited
                {
                    color: #68727e;
                }

                .tab .tab-nav ul li a:hover
                {
                    color: #fe8f00;
                }

            .tab .tab-nav ul li .arrow
            {
                display: none;
            }

            .tab .tab-nav ul li.current .arrow
            {
                width: 0;
                height: 0;
                border: 5px solid #fcfcfc;
                border-top: 5px solid #fe8f00;
                position: absolute;
                bottom: -12px;
                _bottom: -11px;
                left: 42%;
                display: block;
                overflow: hidden;
            }

            .tab .tab-nav ul li.current a
            {
                font-weight: bold;
                height: 38px;
                line-height: 38px;
                border-bottom: 3px solid #fe8f00;
            }

                .tab .tab-nav ul li.current a:link, .tab .tab-nav ul li.current a:visited
                {
                    color: #fe8f00;
                }

.tab .tab-content
{
    margin-top: 20px;
}

    .tab .tab-content .tab-content-item
    {
        display: none;
    }

    .tab .tab-content .current
    {
        display: block;
    }

.tab-logon
{
    border: 1px solid #e3e3e3;
    box-shadow: 3px 3px 6px #e3e3e3;
    margin-top: 20px;
    height: 97px;
    background-color: #fff;
    width: 1188px;
    margin: 20px auto auto;
}

    .tab-logon .tab-content .tab-content-item
    {
        display: none;
    }

    .tab-logon .tab-content .current
    {
        display: block;
    }

    .tab-logon .tab-nav
    {
        width: 165px;
        height: 98px;
        text-align: center;
        background-color: #fafafa;
        float: left;
    }

        .tab-logon .tab-nav ul
        {
            width: 165px;
            height: 48px;
            position: relative;
            left: -1px;
        }

        .tab-logon .tab-nav li
        {
            width: 165px;
            height: 48px;
            line-height: 48px;
            float: left;
            text-align: center;
            border: 1px solid #e3e3e3;
            border-top: 0;
            background-color: #fff;
            color: #333;
            font-size: 18px;
            font-weight: bold;
        }

            .tab-logon .tab-nav li.current
            {
                width: 163px;
                border-left: 3px solid #fe8f00;
                border-right: 1px solid #fff;
            }

                .tab-logon .tab-nav li.current a:link, .tab-logon .tab-nav li.current a:visited
                {
                    color: #fe8f00;
                    text-decoration: none;
                    background-color: #fff;
                }

            .tab-logon .tab-nav li a:link, .tab-logon .tab-nav li a:visited
            {
                color: #3c5471;
                text-decoration: none;
                background-color: #fff;
            }

            .tab-logon .tab-nav li a:hover
            {
                color: #fe8f00;
                background-color: #fff;
            }

            .tab-logon .tab-nav li a, .tab-logon .tab-nav li span
            {
                width: 165px;
                height: 48px;
                background-color: #fff;
                color: #3c5471;
            }

            .tab-logon .tab-nav a, .tab-logon .tab-nav li span
            {
                height: 48px;
                width: 165px;
            }

        .tab-logon .tab-nav span
        {
            cursor: default;
        }

.select
{
    font-size: 12px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

    .select .icon10-down1
    {
        -webkit-transition: -webkit-transform .2s ease-in;
        -moz-transition: -moz-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-out 0s;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .select .select-selected
    {
        width: 99%;
        height: 28px;
        line-height: 28px;
        border: solid 1px #e3e3e3;
        background-color: #fff;
        color: #68727e;
        position: relative;
        overflow: hidden;
        z-index: 100;
    }

        .select .select-selected span
        {
            float: left;
            line-height: 28px;
            padding-left: 10px;
            margin-right: 20px;
        }

        .select .select-selected .icon10-down1
        {
            width: 0;
            height: 0;
            border: 5px solid #fff;
            border-top: 5px solid #68727e;
            overflow: hidden;
            position: absolute;
            right: 10px;
            top: 12px;
        }

        .select .select-selected .icon-day
        {
            background-position: -44px -60px;
            position: absolute;
            right: 5px;
            top: 6px;
            overflow: hidden;
        }

        .select .select-selected:hover
        {
            background-color: #f3f3f3;
            border: solid 1px #e3e3e3;
            cursor: pointer;
        }

            .select .select-selected:hover .icon10-down1
            {
                border: 5px solid #f3f3f3;
                border-top: 5px solid #68727e;
            }

    .select:hover .select-selected
    {
        border: solid 1px #cad0d8;
    }

    .select .select-option
    {
        position: absolute;
        z-index: 200;
        top: 30px;
        left: 0;
        width: 98%;
        background: url(../images/shadow_bg.png) repeat;
        padding: 2px;
        display: none;
    }

        .select .select-option dl
        {
            max-height: 250px;
            _height: 250px;
            border: solid 1px #e3e3e3;
            background-color: #fff;
            color: #f3f3f3;
            overflow-y: auto;
            overflow-x: hidden;
        }

            .select .select-option dl dd, .select .select-option dl dt
            {
                height: 24px;
                line-height: 24px;
                border-top: dotted 1px #e3e3e3;
                padding: 0;
            }

            .select .select-option dl dd
            {
                cursor: pointer;
                overflow: hidden;
                clear: both;
            }

                .select .select-option dl dd a
                {
                    display: block;
                    padding: 0 10px 0 27px;
                    color: #68727e;
                }

                    .select .select-option dl dd a:link, .select .select-option dl dd a:visited
                    {
                        text-decoration: none;
                    }

                    .select .select-option dl dd a:hover
                    {
                        color: #687180;
                        background-color: #f3f3f3;
                    }

                .select .select-option dl dd.current
                {
                    color: #687180;
                    background-color: #f3f3f3;
                }

                    .select .select-option dl dd.current a
                    {
                        color: #687180;
                        background-color: #f3f3f3;
                    }

                .select .select-option dl dd b
                {
                    display: inline-block;
                    width: 25px;
                    text-align: center;
                    font-family: Arial,Helvetica,sans-serif;
                    float: left;
                }

                .select .select-option dl dd span
                {
                    float: right;
                    color: #d60000;
                    padding-right: 10px;
                }

            .select .select-option dl dt
            {
                font-size: 14px;
                font-weight: bold;
                text-align: left;
                padding: 0 10px;
            }

                .select .select-option dl dt.carzt
                {
                    text-align: center;
                    color: #333;
                }

                .select .select-option dl dd:first-child, .select .select-option dl dt:first-child
                {
                    border-top: none;
                }

.active
{
    z-index: 10;
}

    .active .select-selected .icon10-down1
    {
        -webkit-transition: -webkit-transform .2s ease-in;
        -moz-transition: -moz-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-out 0s;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        top: 8px;
    }

.select-disabled .select-selected
{
    border: solid 1px #e3e3e3;
    color: #999;
    background-color: #fff;
    cursor: default;
}

    .select-disabled .select-selected:hover
    {
        border: solid 1px #e3e3e3;
        color: #999;
        background-color: #fff;
        cursor: default;
    }

        .select-disabled .select-selected:hover .icon10-down1
        {
            transform: none;
            -webkit-transform: none;
            background-position: -160px -60px;
        }

    .select-disabled .select-selected .icon10-down1
    {
        background-position: -160px -60px;
    }

.search
{
    position: relative;
    background-color: #fff;
}

    .search .search-box
    {
        line-height: normal;
        float: left;
        border: 1px solid #e3e3e3;
        border-right: none;
        background-color: #fff;
        overflow: hidden;
    }

    .search input.search-text
    {
        border: 0;
        color: #cad0d8;
        outline: 0 none;
        background-color: #fff;
    }

.search-active .search-box
{
    border: 1px solid #7692cd;
    border-right: none;
    overflow: hidden;
}

.search-active input.search-text
{
    color: #333;
    margin-left: 0;
}

.search01
{
    width: 265px;
    height: 30px;
}

    .search01 .search-box
    {
        width: 190px;
        height: 28px;
        position: relative;
    }

    .search01 input.search-text
    {
        width: 188px;
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
        margin: 0 0 0 10px;
        font-size: 14px;
    }

    .search01 .btn
    {
        width: 38px;
        height: 28px;
        line-height: 28px;
        float: left;
    }

[class="search search01 search-active"] input.search-text
{
    width: 249px;
}

[class="search search02 search-active"] input.search-text
{
    width: 229px;
}

.search-pop
{
    width: 264px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
    clear: both;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    display: none;
    font-family: "\5B8B\4F53";
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .search-pop .search-pop-letter
    {
        padding: 5px 0;
        overflow: hidden;
    }

        .search-pop .search-pop-letter li
        {
            height: 22px;
            line-height: 22px;
        }

            .search-pop .search-pop-letter li a
            {
                display: block;
                height: 22px;
                padding: 0 8px;
                font-size: 14px;
            }

                .search-pop .search-pop-letter li a:link, .search-pop .search-pop-letter li a:visited
                {
                    color: #000;
                    text-decoration: none;
                    background-color: #fff;
                }

                .search-pop .search-pop-letter li a:hover
                {
                    color: #000;
                    text-decoration: none;
                    background-color: #f2f5f8;
                }

    .search-pop .search-pop-direct
    {
        height: 24px;
        line-height: 24px;
        color: #6d6e71;
        font-size: 12px;
        padding-left: 8px;
    }

    .search-pop .search-pop-cars
    {
        overflow: hidden;
    }

        .search-pop .search-pop-cars dd
        {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
            border-top: 1px dotted #ccc;
            clear: both;
        }

            .search-pop .search-pop-cars dd.nobor
            {
                border: none;
            }

        .search-pop .search-pop-cars a
        {
            display: block;
            height: 30px;
            padding: 0 7px;
            font-size: 14px;
        }

            .search-pop .search-pop-cars a:link, .search-pop .search-pop-cars a:visited
            {
                text-decoration: none;
                background-color: #fff;
            }

            .search-pop .search-pop-cars a:hover
            {
                color: #3b5998;
                text-decoration: none;
                background-color: #f9f9f9;
            }

        .search-pop .search-pop-cars .name
        {
            float: left;
            font-weight: 100;
            cursor: pointer;
        }

        .search-pop .search-pop-cars .price
        {
            color: #d60000;
            font-size: 12px;
            float: right;
        }

.tip
{
    min-width: 50px;
    position: absolute;
    z-index: 100;
    padding: 2px;
    background: url(../images/shadow_bg.png) repeat;
    font-size: 12px;
}

    .tip .tip-content
    {
        position: relative;
        z-index: 1;
        border: 1px solid #ccd3e4;
        background-color: #fff;
        padding: 5px;
        line-height: 18px;
        font-size: 12px;
    }

    .tip .tip-arrow
    {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        background: url(../images/layer_arrow24.png) no-repeat;
        _background: url(../images/layer_arrow8.png) no-repeat;
    }

    .tip .tip-right
    {
        width: 11px;
        height: 15px;
        top: 30%;
        left: -8px;
        background-position: -20px -29px;
    }

    .tip .tip-bottom
    {
        width: 15px;
        height: 11px;
        top: -8px;
        left: 43%;
        background-position: 0 -26px;
    }

.layer
{
    width: 380px;
    border: 5px solid #3c5471;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

    .layer h3, .layer .layer-bottom
    {
        height: 29px;
        line-height: 29px;
        position: relative;
        padding: 0 10px;
        background: #f3f3f3;
        overflow: hidden;
        color: #68727e;
    }

    .layer h3
    {
        border-bottom: 1px solid #ccd3e4;
        font-weight: bold;
        font-size: 14px;
    }

    .layer .layer-bottom
    {
        border-top: 1px solid #ccd3e4;
        padding: 8px 10px;
    }

    .layer .layer-close
    {
        width: 11px;
        height: 11px;
        padding: 9px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 0;
        font-size: 0;
        border-left: 1px solid #ccd3e4;
        background-color: #f3f3f3;
    }

        .layer .layer-close i
        {
            width: 11px;
            height: 11px;
            background-position: -65px -20px;
        }

    .layer a.layer-close:hover
    {
        background-color: #3c5471;
    }

        .layer a.layer-close:hover i
        {
            background-position: -65px 0;
        }

    .layer .layer-content
    {
        padding: 20px 20px 0;
        font-size: 12px;
    }

        .layer .layer-content p.layer-content-main
        {
            font-size: 14px;
            font-weight: bold;
            color: #666;
        }

        .layer .layer-content p.layer-content-sub
        {
            font-size: 12px;
            color: #999;
        }

.icon16-close
{
    background-position: -20px -65px;
}

    .icon16-close:hover
    {
        background-position: 0 -65px;
        cursor: pointer;
    }

.layer-width640
{
    width: 630px;
}

.banner
{
    width: 100%;
    height: 350px;
    _width: 1190px;
    background-color: #000;
    min-width: 1190px;
}

    .banner .banner-focusimg
    {
        height: 350px;
    }

        .banner .banner-focusimg .focusimg-pic
        {
            height: 350px;
            overflow: hidden;
            position: relative;
        }

            .banner .banner-focusimg .focusimg-pic li
            {
                height: 350px;
            }

.banner-focusimg
{
    overflow: hidden;
    height: 370px;
    bwidth: 100%;
    position: relative;
    _width: 1190px;
}

    .banner-focusimg .focusimg-pic
    {
        min-width: 1190px;
        height: 370px;
        overflow: hidden;
        position: relative;
    }

        .banner-focusimg .focusimg-pic li
        {
            width: auto;
            height: 370px;
            text-align: center;
            left: 0;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        .banner-focusimg .focusimg-pic img
        {
            position: absolute;
            left: 50%;
            margin-left: -960px;
            width: 1920px;
            height: 350px;
        }

    .banner-focusimg .focusimg-bt
    {
        width: 1190px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -595px;
        z-index: 10;
    }

        .banner-focusimg .focusimg-bt a
        {
            display: inline-block;
            width: 24px;
            height: 44px;
            margin-top: 160px;
        }

        .banner-focusimg .focusimg-bt .focusimg-bt-left, .banner-focusimg .focusimg-bt .focusimg-bt-right
        {
            width: 24px;
            height: 320px;
            overflow: hidden;
            cursor: pointer;
            position: absolute;
        }

        .banner-focusimg .focusimg-bt .focusimg-bt-left
        {
            padding-right: 15px;
            left: 0;
        }

            .banner-focusimg .focusimg-bt .focusimg-bt-left a
            {
                background-position: 0 -145px;
                outline: none;
            }

                .banner-focusimg .focusimg-bt .focusimg-bt-left a:hover
                {
                    background-position: 0 -145px;
                }

        .banner-focusimg .focusimg-bt .focusimg-bt-right
        {
            padding-left: 15px;
            right: 0;
        }

            .banner-focusimg .focusimg-bt .focusimg-bt-right a
            {
                background-position: -30px -145px;
                outline: none;
            }

                .banner-focusimg .focusimg-bt .focusimg-bt-right a:hover
                {
                    background-position: -30px -145px;
                }

        .banner-focusimg .focusimg-bt .focusimg-bt-left:hover a
        {
            background-position: 0 -145px;
        }

        .banner-focusimg .focusimg-bt .focusimg-bt-right:hover a
        {
            background-position: -30px -145px;
        }

    .banner-focusimg .focusimg-focus
    {
        text-align: center;
        height: 25px;
        line-height: 25px;
        width: 100%;
        position: absolute;
        bottom: 10px;
        z-index: 10;
    }

        .banner-focusimg .focusimg-focus span, .banner-focusimg .focusimg-focus span a
        {
            display: inline-block;
            height: 10px;
        }

        .banner-focusimg .focusimg-focus span
        {
            width: 10px;
            cursor: pointer;
            margin: 10px 5px;
            line-height: 10px;
            font-size: 0;
        }

            .banner-focusimg .focusimg-focus span a
            {
                width: 10px;
                background-position: -66px -229px;
                text-decoration: none;
            }

                .banner-focusimg .focusimg-focus span:hover a, .banner-focusimg .focusimg-focus span a:hover
                {
                    background-position: -66px -250px;
                }

            .banner-focusimg .focusimg-focus span.selected a
            {
                background-position: -66px -250px;
            }

    .banner-focusimg .guarantee-btn
    {
        width: 1190px;
        position: absolute;
        top: 243px;
        left: 50%;
        margin-left: -595px;
        z-index: 10;
    }

        .banner-focusimg .guarantee-btn .btn
        {
            box-shadow: 1px 1px 2px #b0b0b1;
            padding: 0;
            width: 140px;
            text-align: center;
        }

        .banner-focusimg .guarantee-btn .mr30
        {
            margin-right: 30px;
        }

.select-box
{
    border: 1px solid #e3e3e3;
    padding: 20px 0 10px 20px;
    background-color: #fff;
    -moz-box-shadow: 1px 2px 2px #eaeaea;
    -webkit-box-shadow: 1px 2px 2px #eaeaea;
    box-shadow: 1px 2px 2px #eaeaea;
}

    .select-box li
    {
        min-height: 42px;
        _height: 42px;
        color: #68727e;
        line-height: 28px;
        zoom: 1;
    }

    .select-box .select-name
    {
        width: 75px;
        height: 28px;
        float: left;
    }

    .select-box .term
    {
        padding: 2px 0;
        height: 24px;
        line-height: 24px;
        color: #a4afbb;
    }

        .select-box .term dt
        {
            width: 82px;
            text-align: right;
            float: left;
        }

        .select-box .term dd
        {
            padding: 0 10px;
            height: 22px;
            line-height: 22px;
            float: left;
            background-color: #f3f3f3;
            border: 1px solid #e3e3e3;
            margin-right: 10px;
        }

    .select-box .select
    {
        float: left;
        margin-right: 10px;
        _display: inline;
    }

    .select-box .select-w193
    {
        width: 193px;
    }

    .select-box .select-w133
    {
        width: 133px;
    }

    .select-box .line
    {
        padding: 0 8px;
        color: #cad0d8;
    }

    .select-box .chioce
    {
        float: left;
        margin-right: 10px;
    }

    .select-box .a-org, .select-box .a-org:link, .select-box .a-org:visited
    {
        color: #fe8f00;
    }

    .select-box .btn-relative
    {
        width: 126px;
        height: 30px;
        position: relative;
        float: left;
    }

        .select-box .btn-relative .tip
        {
            width: 165px;
            top: 38px;
            left: 0;
        }

            .select-box .btn-relative .tip .tip-bottom
            {
                left: 20%;
            }

            .select-box .btn-relative .tip a:link, .select-box .btn-relative .tip a:visited
            {
                color: #99a6b6;
            }

            .select-box .btn-relative .tip a:hover
            {
                color: #fe8f00;
            }

.h3-title
{
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #68727e;
    font-size: 18px;
    padding: 20px 0 20px;
    position: relative;
}

    .h3-title .icon16-mark
    {
        position: relative;
        margin: 0 0 0 10px;
        top: 1px;
        _top: -3px;
        background-position: -44px -40px;
        overflow: hidden;
    }

    .h3-title .search
    {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .h3-title .btn-org
    {
        padding: 0 18px;
        height: 30px;
        line-height: 30px;
    }

    .h3-title.h3-title-line
    {
        border-top: 2px solid #e3e3e3;
        margin-top: 15px;
    }

.lable-box
{
    height: 18px;
    margin: 0 30% 10px 0;
}

.lable
{
    float: right;
    line-height: 18px;
}

    .lable input
    {
        margin: 3px 5px 0 0;
        float: left;
    }

.schedule-box
{
    text-align: left;
    vertical-align: top;
}

.schedule
{
    height: 16px;
    display: inline-block;
    float: left;
    background-color: #9acff0;
    margin-right: 10px;
    vertical-align: top;
}

.layout
{
    margin-top: 20px;
    padding: 0 65px 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
}

    .layout.layout2
    {
        padding: 0 20px 20px;
    }

    .layout.layout3
    {
        padding: 10px 20px;
        margin-top: 10px;
    }

    .layout .div-svg
    {
        text-align: center;
        padding: 10px 0 15px;
    }

        .layout .div-svg .ranking2
        {
            width: 430px;
            display: inline-block;
        }

    .layout .svg-tx
    {
        margin-left: 10%;
        text-align: left;
        line-height: 24px;
    }

    .layout .select2-box
    {
        margin-right: 20%;
        height: 30px;
    }

        .layout .select2-box .select
        {
            width: 130px;
        }

    .layout .div-svg2
    {
        padding: 10px 35px 0;
    }

    .layout .tab-div
    {
        margin: 20px 0;
        overflow: hidden;
    }

        .layout .tab-div.tab-div2
        {
            overflow-y: hidden;
            overflow-x: scroll;
            min-width: 869px;
            _width: 869px;
            margin: 0 auto;
        }

        .layout .tab-div .unit
        {
            line-height: 24px;
            font-size: 14px;
            height: 24px;
            overflow: hidden;
            margin-bottom: 5px;
            _margin-bottom: 0;
        }

    .layout .tab3-height
    {
        max-height: 480px;
        _height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .layout .callout-tab
    {
        border-collapse: collapse;
        color: #68727e;
        width: 100%;
        vertical-align: middle;
    }

        .layout .callout-tab .col1
        {
            width: 20%;
        }

        .layout .callout-tab .col2
        {
            width: 15%;
        }

        .layout .callout-tab .col3
        {
            width: 15%;
        }

        .layout .callout-tab .col4
        {
            width: 15%;
        }

        .layout .callout-tab .col5
        {
            width: 15%;
        }

        .layout .callout-tab .col6
        {
            width: 15%;
        }

        .layout .callout-tab .col7
        {
            width: 10%;
        }

        .layout .callout-tab .col8
        {
            width: 31%;
        }

        .layout .callout-tab .col9
        {
            width: 16%;
        }

        .layout .callout-tab .col10
        {
            width: 45%;
        }

        .layout .callout-tab .col11
        {
            width: 8%;
        }

        .layout .callout-tab .col12
        {
            width: 12%;
        }

        .layout .callout-tab .col13
        {
            width: 7%;
        }

        .layout .callout-tab .col14
        {
            width: 8%;
        }

        .layout .callout-tab .col15
        {
            width: 7%;
        }

        .layout .callout-tab .col16
        {
            width: 8%;
        }

        .layout .callout-tab .col17
        {
            width: 7%;
        }

        .layout .callout-tab .col18
        {
            width: 8%;
        }

        .layout .callout-tab .col19
        {
            width: 7%;
        }

        .layout .callout-tab .col20
        {
            width: 8%;
        }

        .layout .callout-tab .col21
        {
            width: 6%;
        }

        .layout .callout-tab .col22
        {
            wwidth: 8%;
        }

        .layout .callout-tab .col23
        {
            wwidth: 7%;
        }

        .layout .callout-tab th, .layout .callout-tab td
        {
            height: 38px;
            border: dotted #e3e3e3 1px;
            border-left: solid #e3e3e3 1px;
            border-right: solid #e3e3e3 1px;
            line-height: 38px;
            text-align: center;
        }

        .layout .callout-tab th
        {
            background: #f3f3f3;
            font-weight: bold;
            border: solid #e3e3e3 1px;
        }

        .layout .callout-tab .tr-last td
        {
            border-bottom: solid #e3e3e3 1px;
        }

        .layout .callout-tab .tr-gray-bg
        {
            background-color: #fbfbfb;
        }

        .layout .callout-tab .tr-gray2-bg
        {
            background-color: #f3f3f3;
        }

        .layout .callout-tab .hover-bg
        {
            background-color: #cad0d8;
        }

        .layout .callout-tab p
        {
            line-height: 18px;
            padding: 8px 10px;
        }

    .layout .callout-tab2 a:link, .layout .callout-tab2 a:visited
    {
        color: #3391d4;
    }

    .layout .callout-tab3
    {
        min-width: 1009px;
        _width: 1009px;
    }

        .layout .callout-tab3 th, .layout .callout-tab3 td
        {
            border: solid #e3e3e3 1px;
        }

        .layout .callout-tab3 th
        {
            background: #fff;
        }

        .layout .callout-tab3 .title-th
        {
            border-bottom: 3px solid #f90;
        }

        .layout .callout-tab3 th.gray-bg, .layout .callout-tab3 td.gray-bg
        {
            background: #f3f3f3;
        }

        .layout .callout-tab3 .p-div
        {
            line-height: 18px;
            padding: 8px 5px;
        }

        .layout .callout-tab3 .p-div-a:link, .layout .callout-tab3 .p-div-a:visited
        {
            color: #fe8f00;
            border: 1px solid #e3e3e3;
            width: 48px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
        }

        .layout .callout-tab3 .ft14
        {
            font-weight: bold;
        }

        .layout .callout-tab3 .ft14-noftw
        {
            font-weight: normal;
            font-size: 14px;
            color: #a4afbb;
        }

        .layout .callout-tab3 .target-select
        {
            width: 85px;
            margin: 10px auto auto;
        }

            .layout .callout-tab3 .target-select .select-selected .icon10-down1
            {
                border: 5px solid #fff;
                border-left: 5px solid #68727e;
                top: 10px;
            }

            .layout .callout-tab3 .target-select .select-selected:hover .icon10-down1
            {
                border: 5px solid #f3f3f3;
                border-left: 5px solid #68727e;
            }

            .layout .callout-tab3 .target-select .active .tip
            {
                display: block !important;
            }

            .layout .callout-tab3 .target-select .tip
            {
                width: 345px;
                left: 95px;
                top: -15px;
            }

                .layout .callout-tab3 .target-select .tip .tip-content
                {
                    padding: 10px 0 10px 20px;
                    color: #68727e;
                }

                .layout .callout-tab3 .target-select .tip .lable
                {
                    float: left;
                    padding: 5px 10px 0 0;
                    *padding-right: 2px;
                    zoom: 1;
                    font-weight: bold;
                    height: 20px;
                    line-height: 20px;
                }

                    .layout .callout-tab3 .target-select .tip .lable input
                    {
                        float: left;
                        margin: 4px 5px 0 0;
                        *margin: 0 0 0 0;
                    }

                .layout .callout-tab3 .target-select .tip .tip-right
                {
                    top: 37%;
                }

                .layout .callout-tab3 .target-select .tip .btn
                {
                    padding: 0 15px;
                }

        .layout .callout-tab3 .td-bg-blue, .layout .callout-tab3 .td-bg-green, .layout .callout-tab3 .td-bg-red
        {
            color: #fff;
        }

        .layout .callout-tab3 .td-bg-blue
        {
            background-color: #99a6b6;
        }

        .layout .callout-tab3 .td-bg-green
        {
            background-color: #3c9;
        }

        .layout .callout-tab3 .td-bg-red
        {
            background-color: #f36;
        }

        .layout .callout-tab3 .icon10
        {
            width: 10px;
            height: 12px;
            display: inline-block;
            position: relative;
            margin: 0 0 0 5px;
            top: 3px;
        }

        .layout .callout-tab3 .td-c-red
        {
            color: #f36;
        }

            .layout .callout-tab3 .td-c-red .icon10-arrow
            {
                background-position: -44px -120px;
            }

        .layout .callout-tab3 .td-c-green
        {
            color: #3c9;
        }

            .layout .callout-tab3 .td-c-green .icon10-arrow
            {
                background-position: -64px -120px;
                margin: 4px 0 0 5px;
            }

    .layout .layout-bd
    {
        margin-top: 20px;
        height: 24px;
        line-height: 24px;
        color: #a4afbb;
    }

        .layout .layout-bd .btn
        {
            float: right;
        }

    .layout .layout-pic
    {
        min-width: 405px;
        width: 45%;
        float: left;
    }

    .layout .layout-pic-title
    {
        width: 27px;
        float: left;
        position: relative;
        margin-top: 0;
    }

        .layout .layout-pic-title .line
        {
            width: 0;
            height: 230px;
            border-right: 1px dotted #e3e3e3;
            position: absolute;
            left: 14px;
        }

        .layout .layout-pic-title .title
        {
            width: 27px;
            height: 80px;
            background-color: #99a6b6;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding-top: 8px;
            line-height: 18px;
            color: #fff;
            position: absolute;
            left: 0;
            top: 70px;
        }

        .layout .layout-pic-title.l-pic-top80
        {
            margin-top: 80px;
        }

    .layout .line-bor
    {
        width: 100%;
        height: 0;
        margin: 25px 30px;
        border-bottom: 1px solid #e3e3e3;
        overflow: hidden;
    }

.layout-set
{
    padding: 20px;
    margin: 0;
}

    .layout-set .set-dl
    {
        padding-bottom: 20px;
    }

        .layout-set .set-dl dt
        {
            height: 42px;
            line-height: 42px;
            font-size: 24px;
            font-weight: bold;
            color: #3c5471;
        }

        .layout-set .set-dl dd
        {
            line-height: 30px;
            padding-bottom: 10px;
            font-size: 14px;
            color: #68727e;
        }

            .layout-set .set-dl dd .btn
            {
                height: 28px;
                line-height: 28px;
                padding: 0 14px;
            }

            .layout-set .set-dl dd .check
            {
                position: relative;
                margin-left: 10px;
            }

                .layout-set .set-dl dd .check .check-tip
                {
                    width: 365px;
                    background-color: #fff;
                    margin-top: 10px;
                }

                    .layout-set .set-dl dd .check .check-tip .check-tab
                    {
                        border-collapse: collapse;
                        color: #68727e;
                        width: 100%;
                        vertical-align: middle;
                    }

                        .layout-set .set-dl dd .check .check-tip .check-tab td
                        {
                            height: 40px;
                            border: solid #e3e3e3 1px;
                            line-height: 38px;
                        }

                        .layout-set .set-dl dd .check .check-tip .check-tab p
                        {
                            line-height: 18px;
                            padding: 8px 22px;
                        }

                        .layout-set .set-dl dd .check .check-tip .check-tab .check1
                        {
                            width: 35%;
                        }

                        .layout-set .set-dl dd .check .check-tip .check-tab .check2
                        {
                            width: 60%;
                        }

    .layout-set .set-hit
    {
        padding: 20px;
    }

        .layout-set .set-hit h3
        {
            font-size: 24px;
            font-weight: bold;
            color: #3c5471;
            line-height: 40px;
            margin-bottom: 20px;
            text-align: center;
        }

        .layout-set .set-hit p
        {
            line-height: 35px;
            color: #68727e;
            padding: 30px 20%;
            _padding: 30px 10%;
        }

        .layout-set .set-hit .btn
        {
            padding: 0 24px;
        }

        .layout-set .set-hit .btn-blue
        {
            border: 1px solid #172a42;
        }

.layout-set2
{
    margin: 20px;
    box-shadow: 3px 3px 6px #e3e3e3;
    min-height: 390px;
}

.layer-tab
{
    width: 770px;
    border: 2px solid #3c5471;
    background-color: #fff;
    position: absolute;
}

    .layer-tab .layer-content
    {
        padding: 5px 40px 10px;
        position: relative;
    }

    .layer-tab .h3-title .icon16-mark
    {
        top: 3px;
    }

    .layer-tab .layer-close
    {
        width: 11px;
        height: 11px;
        padding: 6px;
        overflow: hidden;
        position: absolute;
        top: 2px;
        right: 2px;
        line-height: 0;
        font-size: 0;
        background-color: #99a6b6;
    }

        .layer-tab .layer-close i
        {
            width: 11px;
            height: 11px;
            display: inline-block;
            background-position: -65px 0;
            -webkit-transition: -webkit-transform .2s ease-in;
            -moz-transition: -moz-transform .2s ease-in;
            -o-transition: -o-transform .2s ease-in;
            transition: transform .2s ease-out 0s;
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

    .layer-tab a.layer-close:hover i
    {
        -webkit-transition: -webkit-transform .2s ease-in;
        -moz-transition: -moz-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-out 0s;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.ranking
{
    width: 680px;
    font-size: 14px;
    color: #68727e;
}

    .ranking dl dt, .ranking dl dd
    {
        height: 34px;
    }

    .ranking dl .div-list
    {
        float: left;
        line-height: 24px;
    }

    .ranking dl .div-one
    {
        width: 40px;
    }

    .ranking dl .div-two
    {
        width: 130px;
    }

    .ranking dl .div-three
    {
        width: 510px;
    }

    .ranking dl .num
    {
        width: 24px;
        height: 24px;
        text-align: center;
        color: #68727e;
        background-color: #e3e3e3;
        display: inline-block;
    }

        .ranking dl .num.num-org
        {
            background-color: #fe8f00;
            color: #fff;
        }

    .ranking dl dt
    {
        height: 40px;
    }

    .ranking dl .schedule-box
    {
        height: 24px;
    }

    .ranking dl .schedule
    {
        height: 24px;
    }

.index-login
{
    padding: 0 20px;
}

    .index-login .login
    {
        color: #68727e;
        font-size: 14px;
        margin: 20px 0 0;
        padding: 10px 0 10px 0;
        overflow: hidden;
        line-height: 38px;
    }

        .index-login .login .input
        {
            width: 168px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #e3e3e3;
            padding-left: 10px;
            font-size: 14px;
            margin: 0 0 0 10px;
            float: left;
        }

        .index-login .login .input2
        {
            width: 87px;
        }

        .index-login .login .name
        {
            margin-left: 28px;
        }

        .index-login .login .btn
        {
            padding: 0 14px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            font-weight: bold;
        }

            .index-login .login .btn .icon-key
            {
                width: 24px;
                height: 25px;
                display: inline-block;
                background-position: -52px -194px;
                overflow: hidden;
                margin: 8px 10px 0 0;
                float: left;
            }

    .index-login .login-ul-icon
    {
        margin: 35px auto auto;
        width: 1190px;
        padding-bottom: 35px;
    }

        .index-login .login-ul-icon li
        {
            padding-left: 15px;
            width: 32%;
            float: left;
            height: 48px;
            line-height: 48px;
            font-size: 14px;
        }

            .index-login .login-ul-icon li .icon48
            {
                float: left;
                margin-right: 10px;
            }

            .index-login .login-ul-icon li .icon48-one
            {
                background-position: 0 -194px;
            }

            .index-login .login-ul-icon li .icon48-two
            {
                background-position: 0 -247px;
            }

            .index-login .login-ul-icon li .icon48-three
            {
                background-position: 0 -300px;
            }

.layerlist li
{
    line-height: 28px;
    min-height: 52px;
    _height: 52px;
    font-size: 14px;
    color: #68727e;
}

    .layerlist li .li-name
    {
        width: 83px;
        height: 52px;
        padding-right: 8px;
        float: left;
        text-align: right;
        white-space: nowrap;
    }

    .layerlist li .input
    {
        height: 26px;
        line-height: 26px;
        border: 1px solid #e3e3e3;
        padding-left: 10px;
        width: 165px;
        color: #68727e;
        vertical-align: top;
    }

    .layerlist li .select
    {
        width: 177px;
    }

    .layerlist li .select-w137
    {
        width: 137px;
        float: left;
    }

    .layerlist li .select-w203
    {
        width: 203px;
    }

    .layerlist li .ic-wrong
    {
        color: #fe8f00;
        line-height: 24px;
        font-size: 12px;
    }

    .layerlist li .li-list
    {
        width: 194px;
        float: left;
    }

    .layerlist li.li2 .li-name
    {
        width: 70px;
    }

    .layerlist li.li2 .li-list
    {
        width: 204;
    }

.layer-login
{
    width: 335px;
}

    .layer-login .btn
    {
        height: 22px;
        line-height: 22px;
        padding: 0 14px;
    }

    .layer-login .btn-blue
    {
        border: 1px solid #172a42;
    }

    .layer-login .layer-bottom
    {
        text-align: center;
    }

    .layer-login .icon32-right
    {
        float: left;
        margin: 13px 15px 0 0;
        background-position: 0 -353px;
    }

    .layer-login .icon-list
    {
        width: 210px;
        font-size: 14px;
        float: left;
        color: #68727e;
        line-height: 30px;
    }

    .layer-login .layer-right
    {
        padding: 30px 20px 30px 40px;
    }

    .layer-login .ft12-noftw
    {
        font-weight: normal;
        font-size: 12px;
    }

.footer
{
    width: 100%;
    _width: 1190px;
    text-align: center;
    background-color: #b2bbc5;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

    .footer a:link, .footer a:visited
    {
        color: #fff;
    }

.gotop02
{
    width: 50px;
    padding-top: 1px;
    font-size: 12px;
    text-align: center;
    background-color: #fafbfc;
    text-decoration: none;
    position: fixed;
    _position: absolute;
    z-index: 100;
    right: 10px;
}

    .gotop02 .gotop-opacity
    {
        margin-left: auto;
        left: auto;
        right: 10px;
        filter: alpha(opacity=80);
        -moz-opacity: .8;
        opacity: .8;
    }

    .gotop02 a.gotop02-con
    {
        display: inline-block;
        width: 48px;
        height: 38px;
        overflow: hidden;
        position: relative;
        margin-top: -1px;
        border: solid 1px #ccd3e4;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        line-height: 18px;
        float: left;
    }

        .gotop02 a.gotop02-con i
        {
            position: relative;
            left: 0;
            top: 10px;
        }

        .gotop02 a.gotop02-con span
        {
            display: inline-block;
            width: 30px;
            height: 32px;
            text-align: center;
            padding: 3px 10px;
            line-height: 16px;
            position: absolute;
            left: -1px;
            top: 0;
            cursor: pointer;
        }

        .gotop02 a.gotop02-con .icon16-top
        {
            background-position: -60px -269px;
        }

        .gotop02 a.gotop02-con:hover
        {
            color: #fff;
            background-color: #57b;
            border: solid 1px #57b;
        }

            .gotop02 a.gotop02-con:hover i, .gotop02 a.gotop02-con span
            {
                display: none;
                background-image: none;
            }

            .gotop02 a.gotop02-con:hover span, .gotop02 a.gotop02-con i
            {
                display: inline-block;
            }

.help-div
{
    padding-bottom: 15px;
    line-height: 30px;
}

.help-head
{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #3c5471;
    font-weight: bold;
}

.help-div p
{
    text-indent: 24px;
    font-size: 14px;
    color: #68727e;
}

.help-div h4
{
    color: #3c5471;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
}
